<%= html_header("Examples 1") %>

<h2>Examples</h2>

<p>
Here are some screenshots of the sample programs provided with the library.
</p>

<h3>Request2</h3>

<p>
This program uses the Glade library to build a GUI from an XML file that
has been created using glade-3.  The "Start" button starts retrieving the
URL; the response body is shown in the textarea upon completion.
</p>

<img class="screenshot" width=610 height=375 src="img/request2.png"
  alt="Request2 Screenshot" />

<p>
The function to build the GUI is shown below.  As you can see, it derives
the name of the glade file from the name of the Lua file (including the
path).  Then, The Glade library is used to read and parse the XML file into
an internal representation, from which the widget tree starting at "window1"
is created.
</p>

<div class="code"><code>
require "gtk"
require "gtk.glade"

<%= copy_function("examples/request2.lua", "build_gui") %>
</code></div>

<h3>Iconview</h3>

<p>
A simple demo with a <code>GtkIconView</code> widget filled with a few
stock icons.
</p>

<img class="screenshot" width=210 height=275 src="img/iconview.png"
  alt="IconView screenshot" />

<p>
The code to obtain this (without Glade) is quite straightforward.  Create a
window, within it a scrolled window, and within that a GtkIconView.  A list
store is attached to it and filled with a few icons.
</p>

<div class="code"><code>
<%= copy_function("examples/iconview.lua", "MainWin.new") %>
</code></div>

<%= html_trailer() %>

